body {
	background-color: #b0bec5; /* Szary tło */
	color: #263238; /* Ciemny kolor tekstu */
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle {
	width: 960px;
	margin: 20px;
	text-align: center;
	background-color: #607d8b; /* Kolor tła dla nagłówka */
	color: #ffffff; /* Kolor tekstu dla nagłówka */
}

.square {
	width: 50%;
	float: left;
}

#logo {
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	text-align: left;
}

#zegar {
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
}

.tile1 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #4db6ac; /* Zielony kolor dla sekcji prognozy */
	float: left;
	text-align: center;
}

.tile1:hover {
	background-color: #009688; /* Ciemniejszy odcień zielonego przy najechaniu myszką */
}

.tile2 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #ffb74d; /* Pomarańczowy kolor dla sekcji analizy */
	float: left;
	text-align: center;
}

.tile2:hover {
	background-color: #ff9800; /* Ciemniejszy odcień pomarańczowego przy najechaniu myszką */
}

.tile3 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #64b5f6; /* Niebieski kolor dla sekcji kontaktu */
	float: left;
	text-align: center;
}

.tile3:hover {
	background-color: #2196f3; /* Ciemniejszy odcień niebieskiego przy najechaniu myszką */
}

.tile4 {
	margin: 10px;
	width: 420px;
	height: 82px;
	background-color: #f06292; /* Różowy kolor dla sekcji cytatu */
	text-align: center;
	font-size: 26px;
	padding: 30px;
	line-height: 150%;
}

.social-tiles {
    margin: 10px;
    width: 96%; /* Szerokość tak jak kafelek powyżej */
    height: 142px; /* Wysokość zachowana jak wcześniej */
    background-color: #90a4ae; /* Kolor tła dla nowego kafelka */
    float: left;
    text-align: center;
}

.social-tiles:hover {
    background-color: #78909c; /* Ciemniejszy odcień tła przy najechaniu myszką */
}

.tile5 {
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #90a4ae; /* Kolor dla sekcji powitalnej */
	text-align: justify;
	padding: 30px;
}

a.tilelink {
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.tilelinkhtml5 {
	color: #ffffff;
	text-decoration: none;
}

a.sociallink {
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 105px;
	height: 142px;
}